@import '../../../config/vars';

.table {
  margin-bottom: 0;
  &--center {
    text-align: center;
  }
}

.table--with-actions {
  margin-left: -8px;
  padding: 8px;

  .table__head {
    font-weight: 500;
    color: $colorBlue100;

    .table__row {
      display: flex;
    }

    .table__col {
      &--left {
        padding-right: 8px;
        padding-left: 8px;
      }
    }
  }

  .table__row {
    .table__col {
      &--left {
        text-align: left;

        .table__input {
          text-align: left;
        }
      }
    }
  }

  .checkbox {
    min-height: auto;
    display: inline-block;
    padding: 0;
    margin: 0;

    input {
      left: 0;
    }

    .checkbox__box {
      margin: 0;
    }
  }

  .checkbox--sm {
    .checkbox__input,
    .checkbox__box {
      width: 16px;
      height: 16px;
    }
  }

  .table__col--checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table__body {
    color: $colorInkLight;
    font-weight: 400;

    .table__row {
      border-bottom: 1px solid #b7bbc6;

      &:not(.table__row--actions) {
        .table__col--checkbox {
          padding-top: 0;
          padding-bottom: 0;
        }
        .checkbox:not(.checkbox--interactive) {
          pointer-events: none;
        }
      }
    }

    .table__col {
      padding: 8px;

      span:empty {
        display: inline-block;
        min-height: 16px;
      }
    }

    .table__col--actions {
      padding: 0;
    }

    .table__row--actions {
      .table__input,
      .checkbox {
        pointer-events: none;
        opacity: 0;
      }

      .table__col {
        position: relative;
      }

      &.show-input {
        .table__input,
        .checkbox {
          pointer-events: auto;
          opacity: 1;
        }
      }

      .table__col {
        padding: 0;
      }
    }

    .table__input {
      width: 100%;
      padding: 8px;
      background-color: transparent;
      text-align: center;
      border: none;
      border-right: 1px solid #b7bbc6;
      color: $colorInkLight;
    }

    .table__col--checkbox + .table__col {
      .table__input {
        border-left: 1px solid #b7bbc6;
      }
    }

    .table__col {
      &:first-child {
        .table__input {
          border-left: 1px solid #b7bbc6;
        }
      }
    }
  }

  .table__row {
    display: flex;
  }

  .table__col {
    width: calc((100% - 24px) / 4);

    &--grow {
      flex-grow: 1;
    }

    $sizes: 60, 80, 100, 120, 150, 200, 620;
    @each $size in $sizes {
      &--#{$size} {
        width: $size + px;
      }
    }
  }

  .table__col--actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    flex-shrink: 0;
  }

  .table__action-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;

    &.done {
      display: none;
    }
  }

  .editing {
    .table__action-dialog-button {
      display: none;
    }
  }

  .table__action-dialog-button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    outline: none;
    background-color: transparent;
    border: none;
  }
}

.table__row.editing {
  .table__action-button.edit,
  .more-menu__item.edit {
    display: none;
  }
  .table__action-button.done {
    display: inline-block;
  }

  .more-menu__item.done {
    display: block;
  }
}

.more-menu-container {
  position: relative;

  &.is-open-menu {
    .more-menu {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .more-menu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -4px;
    bottom: -9px;
    transform: translateY(100%);
    z-index: 3;
    transition: $transition;

    padding: 4px 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    background: $colorCloud;
  }

  .more-menu__item {
    //margin-bottom: 8px;
    text-align: left;

    &.done {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .more-menu__button {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    background: none;
    border: none;
    color: $colorInkLight;
    transition: $transition;

    &:hover {
      color: $colorBlue100;
    }
  }
}

.table--selectable {
  .table__body-inner {
    max-height: 330px;
    //overflow-y: scroll;
    overflow-x: hidden;
  }

  .table__body {
    .table__row:not(.table__row--actions) {
      cursor: pointer;
      transition: $transition;

      &.selected,
      &:hover {
        background-color: #f5f7fc;
      }
    }
  }
}

.table--simple {
  .table__head {
    color: $colorBlue100;

    .checkbox {
      color: $colorBlue100;
    }

    .table__row {
      border: 1px solid #b7bbc6;
    }

    .black {
      color: $color2c333f;
    }

    .table__col {
      align-self: center;
      padding: 3px;
    }
  }

  .table__body {
    .table__row {
      border-bottom: 1px solid #b7bbc6;
    }
    .table__col {
      border-right: 1px solid #b7bbc6;

      &:first-child {
        border-left: 1px solid #b7bbc6;
      }
    }

    p {
      align-self: center;
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;

      .small {
        display: inline;
        font-size: 10px;
      }
    }
  }

  .table__row {
    display: flex;
  }

  .table__col-inner {
    width: 50%;
  }

  .table__col {
    padding: 8px;
    display: flex;

    .field {
      align-self: center;
    }

    &--center {
      justify-content: center;

      p {
        text-align: center;
      }

      .table__col-inner {
        display: flex;
        justify-content: center;
      }
    }

    &--20p {
      width: 20%;
    }
    &--25p {
      width: 25%;
    }
    &--40p {
      width: 40%;
    }
  }

  .checkbox {
    align-items: flex-start;

    span:not(.checkbox__box) {
      align-self: center;
    }

    .checkbox__input {
      top: 0;
    }
  }

  .table__head {
    .checkbox {
      display: inline-block;
      padding: 2px 0;
      margin: 0;

      input {
        left: 0;
      }

      .checkbox__box {
        margin: 0;
      }
      .checkbox__input,
      .checkbox__box {
        width: 16px;
        height: 16px;
      }
    }
  }
}
