.column {
  padding: 4px;

  &--lg {
    max-width: 100%;
    flex-grow: 1;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--setting-card {
    max-width: 790px;
  }

  $sizes: 45, 75, 80, 90, 100, 110, 120, 125, 130, 145, 160, 170, 180, 200, 240,
    250, 380, 400, 460, 556, 600, 620, 644, 700, 900;

  @each $size in $sizes {
    &--#{$size} {
      flex-grow: 1;
      min-width: $size + 8 + px;
    }
  }

  $percentages: 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
    90, 95, 100;

  @each $percentage in $percentages {
    &--#{$percentage}p {
      flex-grow: 1;
      width: calc($percentage * 1% - 8px);
    }
  }

  @each $size in $sizes {
    &--max-#{$size} {
      flex-grow: 1;
      max-width: $size + 8 + px;
    }
  }

  &--grow {
    flex-grow: 1;
    max-width: 100%;
  }

  &--shrink {
    flex-shrink: 0;
  }

  &--quarter {
    width: 25%;
  }

  &--col-3 {
    width: calc(100% / 3);
  }

  &--col-6 {
    width: calc(100% / 6);
  }

  &--half {
    width: 50%;
  }
}
