.row {
  display: flex;
  margin: -4px;
  margin-bottom: 4px;

  &--align-center {
    align-items: center;
  }

  &--flex-end {
    justify-content: flex-end;
  }

  &--lg {
    margin-bottom: 16px;
  }

  &--top-auto {
    margin-top: auto;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--100h {
    height: calc(100% + 8px);
  }

  &:last-child {
    margin-bottom: -4px;
  }

  &.mb0 {
    margin-bottom: -4px;
  }
}
