@import '../../../config/vars';

.button {
  display: inline-flex;
  align-items: center;
  padding: 8px 24px;
  border-radius: 54px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: $transition;
  background-color: transparent;
  border: none;

  &__text,
  .icon {
    & + .button__icon {
      margin-left: 12px;
    }
  }

  &--primary {
    background-color: #00a3f5;
    color: $colorWhite;

    &:hover {
      background-color: $colorInkUltraDark;
    }
  }

  &--outline {
    padding: 6px 22px;
    border: 2px solid $colorBlue40;
    color: $colorInkUltraDark;

    &:hover {
      background-color: $colorBlue40;
      color: $colorWhite;
    }
  }
}

.dropdown-button {
  position: relative;
  display: inline-block;

  &:hover {
    .button__icon {
      svg {
        transform: rotate(180deg);
      }
    }

    .dropdown-button__menu {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .button {
    &:hover {
      .button__icon {
        path {
          fill: $colorWhite;
        }
      }
    }
  }

  .button__icon {
    display: block;

    svg,
    path {
      transition: $transition;
    }
  }

  &__menu {
    min-width: 174px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(-100% - 1px));
    border: 1px solid $colorGrey50;
    border-radius: 8px;
    padding: 8px;
    background-color: $colorWhite;
    box-shadow: 0 32px 48px 0 rgba(33, 39, 43, 0.15);
    z-index: 3;
    pointer-events: none;
    opacity: 0;
    transition: $transition;
  }

  &__item {
    display: block;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $colorInkLight;
    border-radius: 6px;
    padding: 4px 8px;
    transition: $transition;
    text-decoration: none;

    &:hover {
      background: rgba(0, 162, 244, 0.2);
    }
  }
}
